.anchor{
  display: block;
  height: 83px; /*same height as nav*/
  margin-top: -83px; /*same height as nav*/
  visibility: hidden;
}
/*.fixed-nav-bar {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
  width: 100%;
  outline:none;
} */

header {
  height:400px;
  background: /* url('../img/photography_background.jpg') */ no-repeat center;
  background-size:cover;
} 


@media (min-width:768px) {
  .navbar-nav li {
    margin-left:10px;
  }
}

.categories {
  text-align:center !important;
  margin-bottom:20px;
  border-bottom:1px solid #e4e4e4;
  padding:10px;
}

.categories li {
  display:inline-block !important;
  float:none;
}

.post-body {
  margin-top:30px;
  font-size:16px;
}

@media (min-width:992px) {
.post-title {
    text-align:right;
    padding-right:30px;
  }
}

.post-title .author {
  text-transform:uppercase;
}

.post-body figure {
  margin-bottom:10px;
  text-align:center;
}

.post-title .author span {
  margin-left:5px;
}

.post-title h1 {
  font-weight:bold;
  margin-top:30px;
  color:#7cc450;
}

@media (max-width:767px) {
  .post-title h1 {
    margin-top:20px;
    font-size:32px;
    margin-bottom:10px;
  }
}


div.container.post {
  margin-bottom:50px;
}


.navbar-nav li {
    margin-left:10px;
  }
}

.categories {
  text-align:center !important;
  margin-bottom:20px;
  border-bottom:1px solid #e4e4e4;
  padding:10px;
}

.categories li {
  display:inline-block !important;
  float:none;
}

.post-body {
  margin-top:30px;
  font-size:16px;
}

@media (min-width:992px) {
  .post-title {
    text-align:right;
    padding-right:30px;
  }
}

.post-title .author {
  text-transform:uppercase;
}

.post-body figure {
  margin-bottom:10px;
  text-align:center;
}

.post-title .author span {
  margin-left:5px;
}

.post-title h1 {
  font-weight:bold;
  margin-top:30px;
}

@media (max-width:767px) {
  .post-title h1 {
    margin-top:20px;
    font-size:32px;
    margin-bottom:10px;
  }
}

footer {
  padding:20px;
  text-align:center;
 /* background-color:#fff;
  color:#fff; 
}

footer h5 {
  color:inherit;
} */

div.container.post {
  margin-bottom:50px;
}

